[submodule "pack/base/start/coc.nvim"]
	path = pack/base/start/coc.nvim
	url = https://github.com/neoclide/coc.nvim
	branch = release
[submodule "pack/langs/start/vim-nix"]
	path = pack/langs/start/vim-nix
	url = https://github.com/LnL7/vim-nix
[submodule "pack/langs/start/haskell-vim"]
	path = pack/langs/start/haskell-vim
	url = https://github.com/neovimhaskell/haskell-vim
[submodule "pack/base/opt/vim-ripple"]
	path = pack/base/opt/vim-ripple
	url = https://github.com/urbainvaes/vim-ripple
[submodule "pack/langs/opt/hledger-vim"]
	path = pack/langs/opt/hledger-vim
	url = https://github.com/anekos/hledger-vim
